<header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">


      <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav">
          <li class="active"><a href="">HOME</a></li>

          <li><%=link_to "Home", home_path %></li>
          <li><%=link_to "Pictures", pictures_path %></li>
          <li><%=link_to "Projects", projects_path(@project_grade)%></li>
          <li><%=link_to "Essays", essays_path(@section_teach)%></li>
          <li><%=link_to "Resume", resume_path(@project_grade)%></li>
          <li><%=link_to "Contact", contact_path(@section_teach)%></li>

        </ul>
      </div>
    </div>
  </header>
